<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <title>NetApp Risk Dashboard</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container py-5">

    <h1 class="mb-4">
        NetApp Multi-Cluster Fail Disk Checker
    </h1>

    <div class="card shadow-sm p-4 mb-4">

        <form method="POST" onsubmit="showLoading()">

            <div class="mb-3">

                <label class="form-label">
                    Cluster List
                </label>

                <textarea
                    class="form-control"
                    name="clusters"
                    rows="6"
                    placeholder="
EX: Please use separate lines for multiple cluster
nacmode1
nacmode2
nacmode3
"
                    required></textarea>
            </div>

            <div class="mb-3">

                <label class="form-label">
                    Max Node
                </label>

                <input
                    type="number"
                    class="form-control"
                    name="max_node"
                    value="24"
                    min="1"
                    max="99">
            </div>

            <button class="btn btn-primary">
                Check Risks
            </button>

        </form>
    </div>

    <div id="loading" class="text-center d-none">

        <div class="spinner-border text-primary"></div>

        <p class="mt-3">
            Checking clusters...
        </p>

    </div>

    {% if results %}

    <div class="d-flex justify-content-between align-items-center mb-3">

        <h3>
            Fault Results ({{ results|length }})
        </h3>

        <a href="/export" class="btn btn-success">
            Export CSV
        </a>

    </div>

    <div class="table-responsive">

        <table class="table table-bordered table-hover bg-white">

            <thead class="table-dark">

            <tr>
                <th>Hostname</th>
                <th>Status</th>
                <th>Detail</th>
                <th>Triggered</th>
                <th>Last Triggered</th>
            </tr>

            </thead>

            <tbody>

            {% for r in results %}

            <tr>

                <td>{{ r.hostname }}</td>

                {% if r.status == "FAIL DISK" %}
                    <td class="text-danger fw-bold">
                        {{ r.status }}
                    </td>
                {% else %}
                    <td class="text-warning fw-bold">
                        {{ r.status }}
                    </td>
                {% endif %}

                <td>{{ r.detail }}</td>
                <td>{{ r.triggered }}</td>
                <td>{{ r.last_triggered }}</td>

            </tr>

            {% endfor %}

            </tbody>

        </table>

    </div>

    {% endif %}

</div>

<script>

function showLoading() {

    document.getElementById("loading")
        .classList
        .remove("d-none")
}

</script>

</body>
</html>
